Repository bellshade/Java, pull requests merged in 2021-11, with the labels that each got.

#57 feat: menambahkan badge discord
  README.md
Labels: ready-to-merge, enhancement, markdown files, request docs team untuk review

#58 docs: update pull request template
  .github/pull_request_template.md
Labels: ready-to-merge, documentation, markdown files, request docs team untuk review, sudah direview!

#60 feat: menambah java date
  intermediate/JavaDate/JavaDate.java
  intermediate/JavaDate/README.md
Labels: ready-to-merge, enhancement, java files, request tim java untuk review, markdown files, request docs team untuk review, sudah direview!

#63 feat: adding java enum
  intermediate/JavaEnum/Main.java
  intermediate/JavaEnum/README.md
Labels: ready-to-merge, enhancement, good first issue, java files, markdown files, request docs team untuk review, request tim java untuk review, sudah direview!

#65 feat: Menambah ImageProcessing Java
  learn/advanced/ImageProcessing/ColoredImage-GrayScale/Main.java
  learn/advanced/ImageProcessing/ColoredImage-GrayScale/src/F1-Lewis-Hamilton.jpg
  learn/advanced/ImageProcessing/ColoredImage-GrayScale/src/greyscale.jpg
Labels: enhancement, java files, request tim java untuk review

#66 feat: Menambah java interface
  learn/intermediate/JavaInterface/README.md
  learn/intermediate/JavaInterface/interfaceJava.java
Labels: enhancement, java files, markdown files

#68 docs: Revolusi README.md
  README.md
Labels: ready-to-merge, documentation, markdown files, sudah direview!
