Repository bellshade/Java, pull requests merged in 2022-01, with the labels that each got.

#75 feat: Algoritma Bubble Sort
  algorithm/Sorting/BubbleSort.java
Labels: ready-to-merge, enhancement, java files, request tim java untuk review, sudah direview!

#74 feat: Algoritma Selection Sort
  algorithm/Sorting/SelectionSort.java
Labels: ready-to-merge, enhancement, java files, request tim java untuk review, sudah direview!

#82 feat: Menambahkan algoritma baru
  learn/basic/StatementPilihan/Percabangan/If/OnlyIf.java
  learn/basic/StatementPilihan/Percabangan/If_Else/IfElse.java
  learn/basic/StatementPilihan/Percabangan/If_ElseIf_Else/IfElseIfElse.java
  learn/basic/StatementPilihan/Percabangan/Nested_If/NestedIf.java
Labels: enhancement, java files, request tim java untuk review

#80 feat: Menambahkan program baru
  learn/advanced/Java-GUI/Swing/JPanel-with-JButton/JButtonJPanel.java
Labels: enhancement, java files, request tim java untuk review

#83 docs: Menambah Readme/Dokumentasi pada method Overloading dan Method Parameter
  learn/basic/MethodJava/MethodOverloading/MethodOverloading.java
  learn/basic/MethodJava/MethodOverloading/README.md
  learn/basic/MethodJava/MethodParameter/MethodParameter.java
  learn/basic/MethodJava/MethodParameter/README.md
Labels: ready-to-merge, documentation, java files, markdown files, request tim java untuk review, sudah direview!

#85 feat: Menambahkan Algoritma dan Dokumentasi baru
  algorithm/data-structure/Array/ArrayDimensiSatu/ArraySatuD.java
  algorithm/data-structure/Array/ArrayDimensiSatu/README.md
  algorithm/data-structure/Array/README.md
Labels: enhancement, java files, markdown files, request tim java untuk review

#84 docs: dokumentasi untuk folder sorting
  algorithm/data-structure/Sorting/README.md
Labels: ready-to-merge, documentation, markdown files, sudah direview!

#87 docs: Menambahkan Dokumentasi baru
  learn/basic/Array/README.md
Labels: documentation, markdown files

#88 docs: Menambahkan Dokumentasi baru
  CONTRIBUTING.md
  learn/basic/Looping/For/README.md
  learn/basic/Looping/README.md
  learn/basic/Looping/While/README.md
Labels: documentation, markdown files

#89 feat: Menambahkan Algoirtma baru
  learn/basic/Operator/README.md
  learn/basic/Operator/Unary/Bitwise.java
  learn/basic/Operator/Unary/IncreDecre.java
  learn/basic/Operator/Unary/Negation.java
Labels: enhancement, java files, markdown files, request tim java untuk review

#90 docs: Menambahkan dokumentasi baru
  learn/basic/String/README.md
Labels: documentation, markdown files

#91 add: Menambah Algoritma baru (MethodOverriding) beserta dokumentasi
  learn/basic/MethodJava/MethodOverriding/MethodOverriding.java
  learn/basic/MethodJava/MethodOverriding/README.md
Labels: ready-to-merge, add, java files, markdown files, request tim java untuk review, sudah direview!

#93 docs: memperbaiki bahasa dan tulisan README.md
  README.md
Labels: ready-to-merge, documentation, markdown files, sudah direview!

#94 feat: Add Stack Data Structure
  algorithm/data-structure/Stack/README.md
  algorithm/data-structure/Stack/Stack.java
Labels: ready-to-merge, enhancement, java files, markdown files, request tim java untuk review, sudah direview!

#95 feat: Menambahkan Algoritma dan Dokumentasi Baru
  algorithm/data-structure/LinkedList/README.md
  algorithm/data-structure/LinkedList/SourceCode/LinkedListSatu.java
Labels: ready-to-merge, enhancement, java files, markdown files, request tim java untuk review, sudah direview!
