Repository bellshade/Java, pull requests merged in 2022-10, with the labels that each got.

#114 add: penjelasan Java Currency
  src/main/java/utilities/JavaCurrency/JavaCurrency.java
  src/main/java/utilities/JavaCurrency/README.md
  src/main/java/utilities/JavaCurrency/img/AllCurrencyMethods.png
Labels: ready-to-merge, add, java files, markdown files, request tim java untuk review

#115 add: menambah PI dan pembulatan angka
  src/main/java/learn/basic/MathJava/MathJava.java
Labels: ready-to-merge, add, java files, request tim java untuk review, HACKTOBERFEST-ACCEPTED

#116 add: menambahkan Java Generic Class
  src/main/java/learn/intermediate/JavaGeneric/GenericClass.java
  src/main/java/learn/intermediate/JavaGeneric/JavaGeneric.java
  src/main/java/learn/intermediate/JavaGeneric/README.md
Labels: ready-to-merge, add, java files, markdown files, request tim java untuk review, sudah direview!, HACKTOBERFEST-ACCEPTED

#117 add: penjelasan Java Calendar, fix: error package name
  src/main/java/maths/GCD.java
  src/main/java/utilities/JavaCalendar/JavaCalendar.java
  src/main/java/utilities/JavaCalendar/README.md
Labels: ready-to-merge, add, java files, markdown files, request tim java untuk review, HACKTOBERFEST-ACCEPTED

#119 add: penjelasan Java StringTokenizer
  src/main/java/utilities/JavaStringTokenizer/JavaStringTokenizer.java
  src/main/java/utilities/JavaStringTokenizer/README.md
  src/main/java/utilities/JavaStringTokenizer/img/StringTokenizerFlow.png
  src/main/java/utilities/JavaStringTokenizer/img/allStringTokenizerMethods.png
Labels: ready-to-merge, add, java files, markdown files, request tim java untuk review, HACKTOBERFEST-ACCEPTED

#120 feat: add sample unit test using AAA (Arrange, Act, Assert) pattern
  src/test/java/ArrangeActAssertPatternTest.java
Labels: ready-to-merge, enhancement, java files, request tim java untuk review, HACKTOBERFEST-ACCEPTED

#122 Add guess the number game to package advanced
  src/main/java/learn/advanced/GuessTheNumber/GuessTheNumber.java
  src/main/java/learn/advanced/GuessTheNumber/README.md
Labels: ready-to-merge, java files, markdown files, request tim java untuk review, HACKTOBERFEST-ACCEPTED

#123 feat: add code and documentation for "rock paper scissors" game
  src/main/java/learn/advanced/RockPaperScissors/Move.java
  src/main/java/learn/advanced/RockPaperScissors/README.md
  src/main/java/learn/advanced/RockPaperScissors/RockPaperScissors.java
Labels: ready-to-merge, enhancement, java files, markdown files, request tim java untuk review, HACKTOBERFEST-ACCEPTED

#124 add: penjelasan JavaIterator
  src/main/java/utilities/JavaIterator/JavaIterator.java
  src/main/java/utilities/JavaIterator/README.md
Labels: ready-to-merge, add, java files, markdown files, request tim java untuk review, HACKTOBERFEST-ACCEPTED

#125 add: Java Generic Method
  src/main/java/learn/intermediate/JavaGeneric/GenericClass/GenericClass.java
  src/main/java/learn/intermediate/JavaGeneric/GenericMethod/GenericMethod.java
  src/main/java/learn/intermediate/JavaGeneric/JavaGeneric.java
  src/main/java/learn/intermediate/JavaGeneric/README.md
Labels: ready-to-merge, add, java files, markdown files, request tim java untuk review, HACKTOBERFEST-ACCEPTED

#127 add: menambah java abstract generic
  src/main/java/learn/intermediate/JavaGeneric/AbstractGenericClass/JavaAbstractGeneric.java
  src/main/java/learn/intermediate/JavaGeneric/AbstractGenericClass/MainGenericClass.java
  src/main/java/learn/intermediate/JavaGeneric/AbstractGenericClass/Pakaian.java
  src/main/java/learn/intermediate/JavaGeneric/AbstractGenericClass/README.md
  src/main/java/learn/intermediate/JavaGeneric/AbstractGenericClass/model/Baju.java
  src/main/java/learn/intermediate/JavaGeneric/AbstractGenericClass/model/Celana.java
Labels: ready-to-merge, add, java files, markdown files, request tim java untuk review, HACKTOBERFEST-ACCEPTED

#129 add: menambah java generic multi parameter type
  src/main/java/learn/intermediate/JavaGeneric/GenericClassMultiParameter/GenericClassMultiParameter.java
  src/main/java/learn/intermediate/JavaGeneric/GenericClassMultiParameter/README.md
  src/main/java/learn/intermediate/JavaGeneric/JavaGeneric.java
  src/main/java/learn/intermediate/JavaGeneric/README.md
Labels: ready-to-merge, add, java files, markdown files, request tim java untuk review, HACKTOBERFEST-ACCEPTED

#131 add: menambah program game menghitung cepat
  src/main/java/learn/advanced/quickMath/QuickMath.java
  src/main/java/learn/advanced/quickMath/ReadME.md
Labels: ready-to-merge, add, java files, markdown files, request tim java untuk review, sudah direview!, HACKTOBERFEST-ACCEPTED

#134 add: penjelasan JavaBase64Encoder
  src/main/java/utilities/JavaBase64Encoder/JavaBase64Encoder.java
  src/main/java/utilities/JavaBase64Encoder/README.md
  src/main/java/utilities/JavaBase64Encoder/img/getEncoderMethod.png
Labels: ready-to-merge, add, java files, markdown files, request tim java untuk review, HACKTOBERFEST-ACCEPTED

#133 feat: menambahkan fenwick tree
  src/main/java/algorithm/datastructure/Tree/FenwickTree.java
Labels: ready-to-merge, enhancement, java files, request tim java untuk review, HACKTOBERFEST-ACCEPTED

#137 add: penjelasan JavaLongSummaryStatistics, fix: error package name
  src/main/java/learn/advanced/quickMath/QuickMath.java
  src/main/java/utilities/JavaLongSummaryStatistics/JavaLongSummaryStatistics.java
  src/main/java/utilities/JavaLongSummaryStatistics/README.md
  src/main/java/utilities/JavaLongSummaryStatistics/img/JavaLongSummaryStatisticsMethods.png
Labels: ready-to-merge, add, java files, markdown files, request tim java untuk review, HACKTOBERFEST-ACCEPTED

#138 docs: Memperbaharui Dokumentasi
  README.md
Labels: ready-to-merge, documentation, markdown files, HACKTOBERFEST-ACCEPTED

#140 fix: Memperbaiki utilitas repo
  .github/pull_request_template.md
  .github/workflows/prettify.yml
Labels: bug, ready-to-merge, markdown files, HACKTOBERFEST-ACCEPTED

#143 add: penjelasan generic bounded
  src/main/java/learn/intermediate/JavaGeneric/GenericClassBounded/AbstractEntity.java
  src/main/java/learn/intermediate/JavaGeneric/GenericClassBounded/DataEntity.java
  src/main/java/learn/intermediate/JavaGeneric/GenericClassBounded/Jaket.java
  src/main/java/learn/intermediate/JavaGeneric/GenericClassBounded/MainGenericClassBounded.java
  src/main/java/learn/intermediate/JavaGeneric/GenericClassBounded/README.md
Labels: ready-to-merge, add, java files, markdown files, request tim java untuk review, HACKTOBERFEST-ACCEPTED

#144 docs: mengganti base url visitor badge
  README.md
Labels: ready-to-merge, documentation, markdown files, HACKTOBERFEST-ACCEPTED

#145 add: menambahkan java json
  pom.xml
  src/main/java/learn/intermediate/JavaJSON/JacksonObjectMapper.java
  src/main/java/learn/intermediate/JavaJSON/README.md
Labels: ready-to-merge, add, java files, markdown files, request tim java untuk review, HACKTOBERFEST-ACCEPTED

#146 add: menambahkan java predicate
  src/main/java/learn/intermediate/JavaPredicate/JavaPredicate.java
  src/main/java/learn/intermediate/JavaPredicate/README.md
Labels: ready-to-merge, add, java files, markdown files, request tim java untuk review, HACKTOBERFEST-ACCEPTED
